:root {  
  --primary: #2BD22F;
  --primary-light:#50FD53;
  --primary-darker-1:#20A723;
  --primary-darker-2:#157D18;
  --primary-darker-3:#0b560d;
  --primary-darker-4:#043205;
  --primary-darker-5: #011501;

  --secondary: #454d66;
  --secondary-shade-1 : #e1e3ea;
  --secondary-shade-2 : #a4abc1;
  --secondary-shade-3 : #677398;
  --secondary-shade-4 : #3e455b;

  --accent: #dad873;
  --background: #efeeb4;
  --success: #58b368;
}

body {
  background: url("../assets/img/bg-masthead-2.png") center/cover no-repeat;
  min-height: 100vh;
  margin: 0;
  padding-top: 120px; /* Your working value */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand,
.nav-link {
  color: #f8f9fa !important;
}

.nav-link:hover {
  color: #76FF03 !important;
}

#lbl_appname {
  color: var(--accent);
  font-size: 2em;
}

h3 {
  cursor: pointer;
}

h3:hover {
  text-shadow: 2px 2px 4px grey;
}

/* Optional: Style the cards */
.feature-card {
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-darker-5);
  color: var(--primary);
  text-align: center;
  padding : 5px;    
  padding: 15px;
}