/*styles*/
/*
colors: https://htmlcolorcodes.com/
*/

:root {
    --primary: #2BD22F;
    --primary-light:#50FD53;
    --primary-darker-1:#20A723;
    --primary-darker-2:#157D18;
    --primary-darker-3:#0b560d;
    --primary-darker-4:#043205;
    --primary-darker-5: #011501;

    --secondary: #454d66;
    --secondary-shade-1 : #e1e3ea;
    --secondary-shade-2 : #a4abc1;
    --secondary-shade-3 : #677398;
    --secondary-shade-4 : #3e455b;

    --accent: #dad873;
    --background: #efeeb4;
    --success: #58b368;
}

* {
    box-sizing: border-box;
}

body {    
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    float : left;
}

.row {
    width:100%;
}

.content {
    margin-left : auto;
    margin-right: auto;
    text-align : center;
    margin : 5px;
}

h1, h2, .menu {
    text-align: center;
}

.sectionBorder {
    border:1px solid black;
    border-radius: 9px;    
    margin:5px;    
}

.foodLabel {
    width : 150px;
    margin-left : auto;
    margin-right : 0;  
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;  
    padding : 5px;
}

.menuContent {
    margin : 5px;
    padding: 5px;
    text-align: justify;
}

.section_1 {    
    background-color: #D4E4F7;    
}
.chickenLabel {
    background-color: #FC7307;
    color : #236AB9;    
}

.section_2 {
    background-color:#D4DAF7;    
}

.beefLabel {
    background-color: #FBA90A;
    color : #183BF0;
}

.section_3{    
    background-color: #E1D4F7;    
}

.sushiLabel {
    background-color: #FDDC22;
    color : #5A18C9;
}

/*
 -- Responsive wbesite constraints --
Desktop :  >= 992px. 
Tablet :  >=768px and <=991px. 
Mobile : <= 767px.
*/
@media (min-width : 992px){
    .col-lg-4 {
        float:left;
        width : 33%;
    }
}

@media (min-width : 768px ) and (max-width:991px){
    .col-md-6 {
        float:left;
        width : 50%;
    }
    .col-md-12 {
        float:left;
        width : 100%;
    }    
}

@media (max-width : 767px){   
    .col-sm-12 {
        float:left;
        width : 100%;
    }
}

